﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.scroll-panel {
    max-height: 300px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroll-table {
    height: 300px;
    overflow: auto;
}

.online {
    color: white;
    background: darkgreen;
    border-radius: 50px;
    font-size: 21px;
}

.offline {
    color: white;
    background: coral;
    border-radius: 50px;
    font-size: 21px;
}