﻿@{
    ViewBag.Title = "Процессы";
}

<div>
    <div class="form-group col-md-4">
        <label>Пользователи</label>
        <select class="form-control" id="userNames"></select>
    </div>
    <div class="form-group col-md-4">
        <lable>Процессы</lable>
        <div class="scroll-table">
            <table class="table table-hover">
                <tbody id="processesInTable" class="scroll-panel"></tbody>
            </table>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label>Новый процесс</label>
        <input class="form-control" type="text" id="newProcess">
    </div>
    <div class="form-group col-md-4">
        <button class="btn btn-dark btn-block" id="addProcess">Добавить</button>
    </div>
</div>

@section scripts
{
    <script>

        var users = [];

        function getUsers(jsonUsers) {
            users = JSON.parse(jsonUsers);

            initialise();

        };

        function initialise() {
            setUsersToDrop();
        }

        function setUsersToDrop() {
            users.forEach(function (user) {
                addUsersToDrop(user.Id, user.Name);
            });
        };

        function setProcessesToTable(user) {
            $('#processesInTable').empty();

            user.Processes.forEach(function (process) {
                addProcessToTable(process);
            });
        };

        function addUsersToDrop(userId, userName) {
            $('#userNames')
                .append($("<option></option>")
                    .attr("value", userId)
                    .text(userName));
            $('#userNames').change();
        };

        $('#userNames').change(function (e) {
            var selectedUserId = parseInt(this.value);
            var user = users.find(x => x.Id === selectedUserId);
            setProcessesToTable(user);
        });

        function addProcessToTable(process) {
            var processId = process.Id;
            $('#processesInTable').append($('<tr>')
                .append($('<td></td>').text(process.ProcessName))
                .append($('<td class="text-right"></td>')
                    .append('<button type="button" class="btn btn-indigo btn-sm" onclick="deleteProcess(' + processId + ')">Удалить</button>'))
                .append($('</tr>')));
        };

        function deleteProcess(processId) {
            console.log(processId);
            var params = {
                processId: processId
            };
            console.log(params);
            $.post('/Home/DeleteProcess',
                params,
                function (jsonUser) {
                    var userDb = JSON.parse(jsonUser);

                    var user = users.find(x => x.Id === userDb.Id);
                    user.Processes = userDb.Processes;

                    setProcessesToTable(user);
                });
        };

        $('#addProcess').click(function (e) {
            var processName = $('#newProcess').val();
            addProcess(processName);
        });

        function addProcess(processName) {
            if (!processName) {
                return;
            }

            var selectedUserId = parseInt($('#userNames').find(":selected").val());
            var selectedUser = users.find(x => x.Id === selectedUserId);

            if (selectedUser.Processes.find(x => x.ProcessName === processName)) {
                alert('Такой процесс уже существует');
                return;
            }
            var userId = selectedUser.Id;
            var params = {
                processName: processName,
                userId: userId
            };

            $.post('/Home/AddProcess',
                params,
                function (process) {

                    addProcessToTable(process);
                    selectedUser.Processes.push(process);

                    clearTextInput();
                });
        };

        function clearTextInput() {
            $("#newProcess").val('');
        };


        $.getJSON('/Home/GetUsers', null, getUsers);

    </script>

}
