﻿@{
    ViewBag.Title = "Профили";
}

<div>
    <div class="form-group col-md-4">
        <label>Пользователи</label>
        <div class="scroll-table" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="userNames" class="scroll-panel"></tbody>
            </table>
        </div>
    </div>

    <div class="form-group col-md-4">
        <label for="newUserName">Новый пользователь</label>
        <input class="form-control" type="text" id="newUserName" >
    </div>

    <div class="form-group col-md-4">
        <button class="btn btn-dark btn-block" id="addUser">Добавить</button>
    </div>
</div>



@section scripts
{
    <script>
        var users = [];

        function setUsers(jsonUsers) {
            users = JSON.parse(jsonUsers);

            setUsersToTable();
        }

        function addUserToTable(userId, userName) {
            $('#userNames').append($('<tr>')
                .append($('<td></td>').text(userName))
                .append($('<td class="text-right"></td>')
                    .append('<button type="button" class="btn btn-indigo btn-sm" onclick="deleteUser(' + userId + ')">Удалить</button>'))
                .append($('</tr>')));
        }

        function deleteUser(userId) {
            var params = {
                userId: userId
            };
            $.post('/Home/DeleteUser', params, function () {
                users = $.grep(users, function (user) {
                    return user.Id !== userId;
                });

                setUsersToTable();
            });
        }

        function setUsersToTable() {
            $('#userNames').empty();

            users.forEach(function (user) {
                addUserToTable(user.Id, user.Name);
            });
        }

        $('#addUser').click(function(e) {
            var userName = $('#newUserName').val();
            addUser(userName);
        });

        function addUser(userName) {
            if (!userName) {
                return;
            }

            if (users.find(x => x.Name === userName)) {
                alert('Такой пользователь уже существует');
                return;
            }

            var params = {
                userName: userName
            };

            $.post('/Home/AddUser', params, function (jsonUser) {
                var user = JSON.parse(jsonUser);

                addUserToTable(user.Id, user.Name);
                users.push(user);

                clearTextInput();
            });
        };

        function clearTextInput() {
            $("#newUserName").val('');
        };

        $.getJSON('/Home/GetUsers', null, setUsers);
    </script>
}