﻿@{
    ViewBag.Title = "Профиль пользователя";
}

<div>
    @*users*@
    <div class="form-group col-md-4">
        <label>
            <span>Пользователи</span>

        </label>
        <div class="form-inline">
            <select class="form-control col-7" id="userNames"></select>
            <span id="status" class="offset-1 col-4 text-center"></span>
        </div>
    </div>

    @*processes*@
    <div class="form-group col-md-4">
        <label>Процессы</label>
        <ul class="list-group scroll-panel" id="processes"></ul>
    </div>


    <div class="form-group col-md-4 text-center">
        <label>Лимит времени</label>
        <div>
            <button class="btn btn-dark" id="reduceTime">-10 мин</button>
            <span>
                <span id="maxSpentMinutes"></span>
                <span> мин</span>
            </span>
            <button class="btn btn-dark" id="increaseTime">+10 мин</button>
        </div>
    </div>


    <div class="form-group col-md-4 text-center">
        <label>
            <span>Осталось времени: </span>
            <span id="spentMinutes"></span>
            <span> мин</span>
        </label>
    </div>
</div>


@section scripts
{
    <script>
        var users = [];

        function setUsers(jsonUsers) {
            users = JSON.parse(jsonUsers);

            // добавление пользователей в dropdown
            users.forEach(function (user) {
                $('#userNames')
                    .append($("<option></option>")
                        .attr("value", user.Id)
                        .text(user.Name));
            });

            $('#userNames').change();
        }

        $('#userNames').change(function (e) {
            var selectedUserId = parseInt(this.value);

            var user = users.find(x => x.Id === selectedUserId);
            // debugger;

            $("#processes").empty();

            user.Processes.forEach(function (process) {
                $('#processes')
                    .append($('<li class="list-group-item"></li>')
                        .text(process.ProcessName));
            });

            $('#maxSpentMinutes').text(user.Setting.MaxSpentMinutes);
            $('#spentMinutes').text(user.Setting.MaxSpentMinutes - user.CurrentUserInformation.SpentMinutes);
            $('#status').text('Offline').removeClass('online').addClass('offline');
        });


        function changeMaxSpentMinutes(minutes) {
            var selectedUserId = parseInt($('#userNames').find(":selected").val());

            var params = {
                userId: selectedUserId,
                minutes: minutes
            };
            $.post('/Home/ChangeMaxSpentMinutes',
                params,
                function (maxSpentMinutes) {
                    var user = users.find(x => x.Id === selectedUserId);
                    user.Setting.MaxSpentMinutes = maxSpentMinutes;

                    $('#maxSpentMinutes').text(user.Setting.MaxSpentMinutes);

                });
        }

        $('#reduceTime').click(function (e) {
            changeMaxSpentMinutes(-10);
        });

        $('#increaseTime').click(function (e) {
            changeMaxSpentMinutes(10);
        });

        
        setInterval(function () { // запускаем интервал
            getSpentMinutes();
        }, 60000);

        function getSpentMinutes() {
            var selectedUserId = parseInt($('#userNames').find(":selected").val());
            if (selectedUserId == null) {
                return;
            }

            var params = {
                userId: selectedUserId
            };

            //console.log(selectedUserId);
            $.getJSON('/Home/GetSpentMinutes',
                params,
                function (spentMinutes) {
                    var user = users.find(x => x.Id === selectedUserId);
                    if (user.CurrentUserInformation.SpentMinutes !== spentMinutes) {
                        $('#status').text('Online').removeClass('offline').addClass('online');
                    } else {
                        $('#status').text('Offline').removeClass('online').addClass('offline');
                    }
                    user.CurrentUserInformation.SpentMinutes = spentMinutes;
                    $('#spentMinutes').text(user.Setting.MaxSpentMinutes - user.CurrentUserInformation.SpentMinutes);
                });
        }


        $.getJSON('/Home/GetUsers', null, setUsers);
    </script>
}
